@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;


}

.h-card {
  height: 15vh;
}

.h-hero {
  height: 65vh;
}


.authbg {
  background-image: url("data:image/svg+xml,%3Csvg width='1920' height='1080' viewBox='0 0 1920 1080' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='220' width='1920' height='860' fill='%23151A23'/%3E%3Cpath d='M1920 0V225.068L659 618.85C336.104 714.408 190.201 742.973 0 744V0H1920Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-7.041e-06' y1='17.7685' x2='798.072' y2='719.232' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.29161' stop-color='%23F27521'/%3E%3Cstop offset='1' stop-color='%23F8A81D'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E ");
  /* Full height */


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clipper {

  display: block;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  object-fit: cover;


}

.emotion-star-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://i.imgur.com/hcIQHRA.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kuggen-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://i.imgur.com/UoVMNQC.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.svg-shapes {
background-image: url("data:image/svg+xml,%3Csvg width='1080' height='1920' viewBox='0 0 1080 1920' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1080' height='1920' fill='%23151A23'/%3E%3Cpath d='M598.401 453.245C581.03 500.075 551.281 538.211 509.154 567.654C467.027 597.096 423.937 600.457 379.883 577.734C335.829 555.012 290.308 530.943 243.318 505.526C196.329 480.109 185.495 443.71 210.818 396.328C236.141 348.946 258.975 307.122 279.321 270.857C299.666 234.591 332.593 206.023 378.102 185.154C423.611 164.284 462.019 173.284 493.326 212.154C524.633 251.023 554.316 289.215 582.373 326.729C610.43 364.243 615.773 406.415 598.401 453.245Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M518 1554.5C507.333 1599.5 479.833 1625.67 435.5 1633C391.166 1640.33 345.333 1650.67 298 1664C250.666 1677.33 215.5 1662.33 192.5 1619C169.5 1575.67 157.5 1531.5 156.5 1486.5C155.5 1441.5 167.166 1397.83 191.5 1355.5C215.833 1313.17 252.5 1292.5 301.5 1293.5C350.5 1294.5 399.333 1301.83 448 1315.5C496.666 1329.17 523.166 1361.17 527.5 1411.5C531.833 1461.83 528.666 1509.5 518 1554.5Z' fill='url(%23paint1_linear)'/%3E%3Cpath d='M908.5 1019.5C896.167 1059.17 873.167 1098.17 839.5 1136.5C805.834 1174.83 765.833 1183.17 719.5 1161.5C673.167 1139.83 627.667 1114.83 583 1086.5C538.334 1058.17 523.5 1018.67 538.5 968C553.5 917.333 577.167 877.333 609.5 848C641.834 818.667 679.833 790.833 723.5 764.5C767.167 738.167 801.5 747.833 826.5 793.5C851.5 839.167 874.5 878.333 895.5 911C916.5 943.667 920.834 979.833 908.5 1019.5Z' fill='url(%23paint2_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='402.941' y1='174.218' x2='402.941' y2='592.581' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23743AD5'/%3E%3Cstop offset='1' stop-color='%23D53A9D'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='342.909' y1='1293.47' x2='342.909' y2='1668.71' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23743AD5'/%3E%3Cstop offset='1' stop-color='%23D53A9D'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='724.094' y1='750.053' x2='724.094' y2='1173.24' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23743AD5'/%3E%3Cstop offset='1' stop-color='%23D53A9D'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.red-shadow {
  filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.25));

}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.heading {
  text-transform: uppercase;
}


.s-media {
  /* fill: #8ED1EA; */
  fill: #2d3748;
  /* filter: drop-shadow(0 0 0.1rem #34C4EC); */
  transition: transform 1s ease-in-out;
}

.s-media:hover {
  fill: #743ad5;
  transform: scale(1.1);
}


.gradient-bg-hero {

  background-color: #dfdfdf;
/*   background-color: #9921e8;
  background: linear-gradient(to left, rgba(116, 58, 213,0.6), rgba(213, 58, 157,0.6)); */

}

.hr-hero {
  border-color: #151A23;
}

.project-section-styles {
  overflow: hidden;

  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);


  transition: transform 1.05s ease-in-out;
}

.project-section-styles:hover {

  overflow:hidden;
  background: linear-gradient(to left, rgba(116, 58, 213,0.7), rgba(213, 58, 157,0.7));

  /*background: linear-gradient(to left, #743ad5, #d53a9d);*/
  cursor: pointer;
  transform:scale(1.03);
}

.gradient-card {
  /* background-color: #9921e8;
  background: linear-gradient(to left, rgba(116, 58, 213,0.6), rgba(213, 58, 157,0.6));  */

  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

}

.gradient-card:hover {
  background: linear-gradient(to left, rgba(116, 58, 213,0.7), rgba(213, 58, 157,0.7));

}

.links {
}

.links:hover {
  color: #743ad5;

}

.gradient-card-with-bg {
  background: linear-gradient(to left, rgba(116, 58, 213,0.7), rgba(213, 58, 157,0.7));

}





/* The sidebar menu */
.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 200px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;


  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;

  text-decoration: none;
  font-size: 18px;
  color: #ACACAC;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #F6A61D;
}